.awesome {
    text-align: center;
    padding: 100px 0;

    &__title {
        margin-bottom: 30px;
    }

    &__text {
    margin-bottom: 83px;
    }
    
    &__line {
        margin: 30px auto;
    }

    &__inner {
        width: 100%;
    }

}

.awesome-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 920px) {
        justify-content: center;
    }

    &__item {
        max-width: 300px;
        @media (max-width: 920px) {
            margin-bottom: 20px;
        }
    }
}

.awesome-list-item {
    &__icon {
        border: 2px solid #ff8b38;
        border-radius: 50%;
        margin-bottom: 20px;
        padding: 20px;
    }

    &__title {
    margin-bottom: 20px;
    font-size: 20px;
    }
}