.contacts {
    text-align: center;
    margin-top: 110px;

    &__title {
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 80px;
    }

    &__line {
        margin: 30px auto;
    }
    &__button {
        width: 150px;
        height: 45px;
        margin: 0 auto 80px;
    }
    &__inner {
        width: 100%;
    }
}

.contacts-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    @media (max-width: 1000px) {
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
    }

    &__main {
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        margin-bottom: 20px;
        @media (max-width: 1000px) {
            margin-right: 0;
            align-items: center;
        }

    }

    &__input {
        width: 450px;

        @media (max-width: 550px) {
            width: 400px;
        }

        @media (max-width: 450px) {
            width: 100%;
        }
    }
}

.contacts-info-input {
    outline: none;

    &--long {
        padding: 10px;
        margin-bottom: 15px;
        border: none;
        border-bottom: 2px solid #a4a4a7;

        &:last-child {
            margin-bottom: 0;
        }

        &::-webkit-input-placeholder,
        &::-moz-placeholder {
            color: #a4a4a7;
            font-size: 14px;
        }
    }

    &--wide {
        padding: 10px 0 115px 10px;
        border: none;
        border-bottom: 2px solid #a4a4a7;

        &::-webkit-input-placeholder,
        &::-moz-placeholder {
            color: #a4a4a7;
            font-size: 14px;
        }

    }
}
