.social-media {
    padding: 20px 0;

    &__icons {
        width: 630px;
        display: flex;
        justify-content: space-between;
        margin: auto;

        @media (max-width: 630px) {
            width: 100%;
        }
    }

}

.social-media-block {
    &__title {
        margin-bottom: 13px;

        @media (max-width: 1101px) {
            text-align: center;
        }
    }

    &__text {
        @media (max-width: 1101px) {
            margin-bottom: 13px;
        }
    }
}

.social-media-icons {
    &__item {
        @media (max-width: 700px) {
            width: 30px;
            height: 30px;
        }
    }

    &__img {
        @media (max-width: 700px) {
            width: 100%;
        }
    }

}