.tabs-block {
    background-color: #f5f5f5;
    padding: 100px 0;

    &__tabs {
        margin-right: 100px;
        @media (max-width: 1017px) {
            display: flex;
            margin: 0 0 40px 0;

        }
    }

    &__tab {
        width: 110px;
        height: 110px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #333333;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        border-bottom: 1px solid #fff;

        &--active {
            background-color: #ff8b38; 
        }

        @media (max-width: 1017px) {
            border-right: 1px solid #fff; 
        }

        @media (max-width: 360px) {
            width: 90px;
            height: 90px;
        }
    }

    &__content {
        margin-right: 100px;
        max-width: 500px;
        @media (max-width: 1100px) {
            margin-right: 0px;

        }
    }

    &__title {
        margin-bottom: 40px;
        @media (max-width: 1017px) {
            text-align: center;        }
    }

    &__text {
        max-width: 380px;
        margin-right: 88px;
        margin-bottom: 40px;

        @media (max-width: 1017px) {
            text-align: center; 
            margin-right: 0;       
        }
    }

    &__button {
        width: 120px;
        height: 45px;
            
        @media (max-width: 1017px) {
            margin: 0 auto 40px;       
        }
    }
}

.tabs-block-text {
    &__paragraph {
        &:first-child {
            margin-bottom: 20px;
        }
    }
}