// .submenu {
//     display: flex;

//     &__item {
//         margin-right: 46px;
//         list-style-type: none;
//         &:last-child {
//             margin-right: 0px;
//         }
//     }

//     &__link {
//         font-family: Open Sans;
//         font-size: 14px;
//         color: #ffffff;
//         text-decoration: none;
//     }
// }
// .header {
//     &__logo {
//         margin-right: 20px;
//     }
// }

.main__header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        z-index: 2;

    }
}

.header {

    &__inner {
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;
        width: 100%;

        @media (max-width: 760px) {
            height: 30px;
        }
    }

    &__logo {
        position: relative;
        z-index: 3;
    }

    &__burger {
        display: none;
    }

    @media (max-width: 760px) {
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            position: relative;
            z-index: 3;

            &::before,
            &::after {
                content: '';
                background-color: #ffffff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }

            &::before {
                top: 0;
            }

            &::after {
                bottom: 0;
            }

            &.active::before {
                transform:rotate(45deg);
                top: 9px;
             }

             &.active::after {
                transform:rotate(-45deg);
                bottom: 9px;
             }

             &.active {
                .header-burger__lines {
                    transform: scale(0);
                }
             }

            .header-burger__lines {
                position: absolute;
                background-color: #ffffff;
                left: 0;
                width: 100%;
                height: 2px;
                top: 9px; 
                transition: all 0.3s ease 0s;
             }  
        }

        &__menubar {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            transition: all 0.3s ease 0s;
            background-color: #86878b;
            padding: 70px 10px 20px 10px;

            &.active {
                top: 0;
            }
        }
    }
   
}

.submenu {
    display: flex;
    position: relative;
    z-index: 2;

    @media (max-width: 760px) {
        display: block;
    }

    &__item {
        margin-right: 46px;
        list-style-type: none;
             &:last-child {
                 margin-right: 0px;
                }

                @media (max-width: 760px) {
                    margin: 0 0 20px 0;
                }
            }

    &__link {
        font-family: Open Sans;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
    }
}
